@model IEnumerable<MYShop.Domain.Entities.Property>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" asp-route-parentid="@ViewData["parentid"]"  asp-route-categoryid="@ViewData["categoryid"]"  class="btn btn-success">ثبت مشخصه جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-Id="@item.PropertyID" asp-route-parentid="@item.PropertyID" class="btn btn-info">ویرایش</a>
                    <a asp-action="Delete" asp-route-Id="@item.PropertyID" class="btn btn-danger" onclick="return confirm('از حذف این کالا مطمئن هستید؟')">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
