<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>پنل مدیریت - فروشگاه</title>
    <link href="~/admintheme/css-rtl/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admintheme/metisMenu/metisMenu/metisMenu.css" rel="stylesheet" />
    <link href="~/admintheme/css-rtl/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />



</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">پنل مدیریت</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                            
                                <li>
                                    <a href="@Url.Action("NewOrders","Order")"><i class="fa fa-dashboard fa-fw"></i>مدیریت سفارشات</a>
                                </li>                           
                       
                        <!-- موقت قرار گرفته است -->
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> تنظیمات<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","Product")"><i class="fa fa-dashboard fa-fw"></i>ثبت کالا</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Category")"><i class="fa fa-dashboard fa-fw"></i>ثبت دسته بندی</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Brand")"><i class="fa fa-dashboard fa-fw"></i>ثبت برند</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Property")"><i class="fa fa-dashboard fa-fw"></i>ثبت مشخصات</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">

                            @if (TempData["message"] != null)
                            {
                                @TempData["message"]
                            }
                        </h1>
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    <script src="~/admintheme/jquery/jquery/dist/jquery.js"></script>
    <script src="~/admintheme/js/bootstrap.js"></script>

    <script src="~/admintheme/metisMenu/metisMenu/metisMenu.js"></script>
    <script src="~/admintheme/js/sb-admin-2.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
