@model IEnumerable<MYShop.Domain.Entities.Product>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-success">ثبت کالای جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.newvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.newvalue)
            </td>
            <td>
                @{

                    var base64 = Convert.ToBase64String(item.Image);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }

                <img src="@imgSrc" class="img img-responsive" />

            </td>
            <td>
                <a asp-action="Addpropery" asp-route-ProductId="@item.ProductID" asp-route-CategoryId="@item.CategoryID" class="btn btn-info">افزودن مشخصه</a>

                <a asp-action="photos" asp-route-ProductID="@item.ProductID" class="btn btn-info">افزودن عکس</a>

                <a asp-action="Edit" asp-route-Id="@item.ProductID" class="btn btn-info">ویرایش</a>
                |
                <a asp-action="Delete" asp-route-Id="@item.ProductID" class="btn btn-danger" onclick="return confirm('از حذف مطمئن هستید؟')">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
