@model List<Brand>


<div class="right-align carousel-container">
    <div class="carousel-container-header">

        <h3 class="carousel-header-f">برند ها</h3>




       
        <div class="carousel" data-flickity='{ "groupCells": true }'>



            @foreach (var item in Model)
            {
                <div class="product-image-wrapper product-image-wrapper-brand">
                    <div >
                       
                            <a asp-action="index" asp-controller="Home" asp-route-CategoryId="0" asp-route-value="@item.Name" title="@item.Name">

                                <div>
                                 
                                </div>



                                @{

                                    var base64 = Convert.ToBase64String(@item.BrandIco);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                }

                                <img src="@imgSrc" class="img img-responsive" width="150" height="150"  alt="@item.Name" title="@item.Name"/>
                                <strong class="black">@item.Name</strong>
                                </a>
                        </div>

                
                </div>
            }
        </div>


    </div>
</div>
