<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="fa" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <!-- Primary Meta Tags -->
    <title>@ViewData["Title"]</title>
    <meta name="title" content="@ViewData["Title"]">
    <meta name="description" content="@ViewData["ShorDescription"]">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://joorkadeh.ir/images/JOOR.jpg">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["ShorDescription"]">
    <meta property="og:image" content="../">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://joorkadeh.ir/">
    <meta property="twitter:title" content="@ViewData["Title"]">
    <meta property="twitter:description" content="@ViewData["ShorDescription"]">
    <meta property="twitter:image" content="https://joorkadeh.ir/images/JOOR.jpg">
    <meta name="keywords" content="@ViewData["KeyWords"]">
    <meta http-equiv="Cache-control" content="private" />
    <meta name="robots" content="index, follow" />
    <meta name="expires" content="never" />
    <meta name="author" content="farjadpooyeshfarham.ir" />
    <meta name="generator" content="farjadpooyeshfarham.ir" />
    <meta name="theme-color" content="#FE980F">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "b9352d81-5194-4467-b9b2-49231821855b"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
    <meta name="google-site-verification" content="G7UXAUm1CAatxSeltAwsZzcrMbKbdI5LHzOK8Q5bdHM" />
    <link rel="canonical" href="https://joorkadeh.com/" />
    <link rel="home" href="https://joorkadeh.com/" />
    <link rel="alternate" href="https://joorkadeh.com/" hreflang="fa-ir" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149268323-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149268323-1');
    </script>

</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header_top" style="margin-top:160px;">
            <!--header_top-->
            <div class="container-fluid">
                <div id="top" class="contactinfo">
                    <ul>
                        <li><a href="tel:+989189660086"><i class="fa fa-phone"></i> +989189660086</a></li>
                        <li><a href="tel:+982537185340"><i class="fa fa-phone"></i> +982537185340</a></li>

                        <li><a href="mailto:mohammad0ramezani@gmail.com"><i class="fa fa-envelope"></i> mohammad0ramezani@gmail.com</a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container-fluid">
               

            </div>
        </div><!--/header-middle-->



        @await Component.InvokeAsync("Menu")
    </header>
    

    @RenderBody()


    <footer id="footer">
        <hr />
        <div class="c-footer__jumpup">
            <a href="#top">
                <span id="js-jump-to-top" class="c-footer__jumpup-container">
                    <span class="fa fa-angle-up c-footer__jumpup-angle"></span>
                    برگشت به بالا
                </span>
            </a>
        </div>

        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-mid footer-feature-item c-footer-feature-item-1">
                        تحویل اکسپرس
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-2">
                        پشتیبانی ۲۴ ساعته
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-3">
                        پرداخت در محل
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-4">۷ روز ضمانت بازگشت</div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-5">ضمانت اصل‌بودن کالا</div>
                </div>
            </div>
        </nav>
        <hr />
        <div class="footer-widget">



            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-4 single-widget">
                        <h2>فروشگاه</h2>
                        @await Component.InvokeAsync("Category")
                    </div>
                    <div class="col-md-4 single-widget">
                        <div class="row">
                            <div class="">
                                <h2>قوانین و خدمات</h2>
                                <ul>
                                    <li><a asp-action="Harim" asp-controller="Other">حریم شخصی</a></li>
                                    <li><a asp-action="Sefaresh" asp-controller="Other">ثبت سفارش</a></li>
                                    <li><a asp-action="HelpPay" asp-controller="Other">نحوه پرداخت</a></li>
                                    <li><a asp-action="US" asp-controller="Other">تماس باماus</a></li>
                                    <li><a asp-action="About" asp-controller="Other">درباره شرکت</a></li>
                                    <li><a asp-action="Address" asp-controller="Other">آدرس ما</a></li>
                                </ul>
                            </div>
                           
                        </div>

                    </div>



                    <div class="col-md-4 single-widget">
                        <h2>خبرنامه جورکده</h2>
                        <P>از تخفیف‌ها و جدیدترین‌های جورکده باخبر شوید:</P>
                        <form asp-action="newsuser" asp-controller="Home" class="news">
                            <input name="email" type="text" placeholder="آدرس ایمیل شما">
                            <button type="submit"><i>ارسال</i></button>
                        </form>
                        <div class="clear"></div>
                        <P> جورکده را در شبکه های اجتماعی دنبال کنید:</P>

                        <div class="col-md-3 social-icons">
                            <ul>
                                @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>*@
                                <li><a href="https://twitter.com/joorkadeh"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/joor-kadeh-756029192/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/joorkadeh/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <nav class="phonenav">
                <div class="container-fluid">

                    <div class="row">
                        <div>
                            <h2>هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</h2>
                        </div>
                        <div>
                            <h2> | شماره تماس : <a href="tel:+989189660086">+989189660086</a> </h2>
                        </div>
                        <div>
                            <h2> | شماره تماس : <a href="tel:+982537185340">+982537185340</a> </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h2>آدرس ایمیل : <a href="mailto:mohammad0ramezani@gmail.com">mohammad0ramezani@gmail.com</a></h2>
                        </div>
                    </div>
                </div>

            </nav>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <p>کلیه حقوق این سایت متعلق به <a href="https://farjadpooyeshfarham.com" class="farjad"> شرکت فرجادپویش فرهام </a>  می باشد.</p>
            </div>
        </div>

    </footer>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
