<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Cache-control" content="max-age=300, public" />
    <!-- Primary Meta Tags -->
    <title>@ViewData["Title"]</title>
    <meta name="title" content="@ViewData["Title"]">
    <meta name="description" content="@ViewData["ShorDescription"]">
    <link rel="canonical" href="https://@ViewData["url"]" />
    <link rel="home" href="https://joorkadeh.com/" />
    <link rel="alternate" href="@ViewData["url"]" hreflang="fa-ir" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="@ViewData["url"]">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["ShorDescription"]">
    <meta property="og:image" content="@ViewData["image"]">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@ViewData["url"]">
    <meta property="twitter:title" content="@ViewData["Title"]">
    <meta property="twitter:description" content="@ViewData["ShorDescription"]">
    <meta property="twitter:image" content="@ViewData["image"]">
    <meta name="keywords" content="@ViewData["KeyWords"]">

    <meta name="robots" content="index, follow" />
    <meta name="expires" content="never" />
    <meta name="author" content="farjadpooyeshfarham.ir" />
    <meta name="generator" content="farjadpooyeshfarham.ir" />
    <meta name="theme-color" content="#FE980F">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script>window.$crisp = []; window.CRISP_WEBSITE_ID = "b9352d81-5194-4467-b9b2-49231821855b"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
    <meta name="google-site-verification" content="G7UXAUm1CAatxSeltAwsZzcrMbKbdI5LHzOK8Q5bdHM" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149268323-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149268323-1');
    </script>

</head>
<body>
    <header id="header">
        <div class="header_top" >
            <!--header_top-->
            <div class="container-fluid">
                <div id="top" class="contactinfo" itemscope itemtype="http://schema.org/LocalBusiness">
                    <ul>
                        <li><a href="tel:+989189660086" title="phone"><i class="fa fa-phone" ></i><span itemprop="telephone">09189660086</span> </a></li>
                        <li><a href="tel:+982537185340" title="phone home"><i class="fa fa-phone" ></i><span itemprop="telephone">02537185340</span> </a></li>

                        <li><a href="mailto:joorkadeh@gmail.com" title="email" ><i class="fa fa-envelope"></i><span itemprop="email">joorkadeh@gmail.com</span> </a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div><!--/header_top-->

      



        @await Component.InvokeAsync("Menu")
    </header>
    

    @RenderBody()


    <footer id="footer">
        <hr />
        <div class="c-footer__jumpup">
            <a href="#top" title="top">
                <span id="js-jump-to-top" class="c-footer__jumpup-container">
                    <span class="fa fa-angle-up c-footer__jumpup-angle"></span>
                    برگشت به بالا
                </span>
            </a>
        </div>

        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-mid footer-feature-item c-footer-feature-item-1">
                        تحویل اکسپرس
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-2">
                        پشتیبانی ۲۴ ساعته
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-3">
                        پرداخت در محل
                    </div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-4">۷ روز ضمانت بازگشت</div>
                    <div class="col-mid footer-feature-item c-footer-feature-item-5">ضمانت اصل‌بودن کالا</div>
                </div>
            </div>
        </nav>
        <hr />
        <div class="footer-widget">



            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-4 single-widget">
                        <h3 class="right-align">فروشگاه</h3>
                        @await Component.InvokeAsync("Category")
                    </div>
                    <div class="col-md-4 single-widget">
                       
                                <h3 class="right-align">قوانین و خدمات</h3>
                           
                                <ul>
                                    <li><a asp-action="Harim" asp-controller="Other" title="حریم شخصی">حریم شخصی</a></li>
                                    <li><a asp-action="Sefaresh" asp-controller="Other" title="ثبت سفارش">ثبت سفارش</a></li>
                                    <li><a asp-action="HelpPay" asp-controller="Other" title="نحوه پرداخت">نحوه پرداخت</a></li>
                                    <li><a asp-action="US" asp-controller="Other" title="us">تماس باماus</a></li>
                                    <li><a asp-action="About" asp-controller="Other" title="درباره شرکت">درباره شرکت</a></li>
                                    <li><a asp-action="Address" asp-controller="Other" title="آدرس ما">آدرس ما</a></li>
                                </ul>
                            

                    </div>



                    <div class="col-md-4 single-widget">
                        <h2 class="right-align">خبرنامه جورکده</h2>
                        <P>از تخفیف‌ها و جدیدترین‌های جورکده باخبر شوید:</P>
                        <form asp-action="newsuser" asp-controller="Home" class="news">
                            <input name="email" type="text" placeholder="آدرس ایمیل شما">
                            <button type="submit"><i>ارسال</i></button>
                        </form>
                        <div class="clear"></div>
                        <P> جورکده را در شبکه های اجتماعی دنبال کنید:</P>

                        <div class="col-md-3 social-icons">
                            <ul>
                                <li><a href="https://facebook.com/joor0kadeh" title="twitter"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/joorkadeh" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/joor-kadeh-756029192/" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/joorkadeh/" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://fa.wikipedia.org/wiki/%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87_%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C_%D8%AC%D9%88%D8%B1_%DA%A9%D8%AF%D9%87" title="wikipedia"><i class="fa fa-pencil"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <hr />
            <nav class="phonenav">
                <div class="container-fluid" itemscope itemtype="http://schema.org/LocalBusiness">

                    <div class="row">
                        <div>
                            <h3 class="right-align">هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</h3>
                        </div>
                        <div>
                            <p> | شماره تماس : <a href="tel:+989189660086" title="phone" ><span itemprop="telephone">09189660086</span></a> </p>
                        </div>
                        <div>
                            <p> | شماره تماس : <a href="tel:+982537185340" title="phone home" ><span itemprop="telephone">02537185340</span></a> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>آدرس ایمیل : <a href="mailto:joorkadeh@gmail.com" title="email" ><span itemprop="email">joorkadeh@gmail.com</span></a></p>
                        </div>
                    </div>
                </div>

            </nav>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <p>کلیه حقوق این سایت متعلق به <a href="https://farjadpooyeshfarham.com" title="generator" class="farjad"> شرکت فرجادپویش فرهام </a>  می باشد.</p>
            </div>
        </div>

    </footer>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
