@model IEnumerable<MYShop.Domain.Entities.Brand>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-success">ثبت برند جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandIco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hovercolor)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hovercolor)
            </td>
            <td>
                @{

                    var base64 = Convert.ToBase64String(item.BrandIco);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }

                <img src="@imgSrc" class="img img-responsive" />

            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.BrandID" class="btn btn-info">ویرایش</a>
                |
                <a asp-action="Delete" asp-route-Id="@item.BrandID" class="btn btn-danger" onclick="return confirm('از حذف این کالا مطمئن هستید؟')">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
