@model Product
@{
    ViewData["Title"] = @Model.Title;
    ViewData["ShorDescription"] = @Model.ShortDescription;
    ViewData["KeyWords"] = Model.Keywords;
}

    <div class="container-fluid">
        <div class="row">
           
            <div class="col-md-5">
                <div class="row">
                    <a asp-action="Compare" asp-controller="Home" asp-route-ProductID="@Model.ProductID" class="btn-add-to-compare"><span class="fa fa-compress"> </span>افزودن به مقایسه کالا</a>
                </div>
                @{
                    var base641 = Convert.ToBase64String(Model.Image);
                    var imgSrc1 = String.Format("data:image/jpg;base64,{0}", base641);
                }
                <div class="slider">

                    <input type="radio" name="slide_switch" id="'id1" checked="checked" />

                    <label for="id1">
                        <img src="@imgSrc1" width="100" />
                    </label>
                    <img src="@imgSrc1"  class="img-responsive-s"/>



                    @{ foreach (var o in Model.ProductImages)
                        {
                            var base64 = Convert.ToBase64String(o.Image);
                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);


                            <input type="radio" name="slide_switch" id="'id'@o.ID" />

                            <label for="'id'@o.ID">
                                <img src="@imgSrc" width="100" />
                            </label>
                            <img src="@imgSrc" class="img-responsive-s"/>



                        }
                    }
                </div>


            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-7 right-align bottom-border-hr">
                        <h4>@Model.Name</h4>
                    </div>
                    <div class="col-md-5">
                        <div class="row right-align">
                            <span class="fa fa-star product-garantee orange-i"></span>
                            <div class="col-md-10"><P>بیش از @Model.Comments.Count() نفر از خریداران این محصول را پیشنهاد داده‌اند</P></div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5 right-align">
                                <p>برند :<a class="btn-link-spoiler" asp-action="index" asp-controller="home" name="value"> @Model.Brand.Name</a></p>
                            </div>
                            <div class="col-md-7 right-align">
                                <p>دسته بندی :<a class="btn-link-spoiler" asp-action="index" asp-controller="home" name="value"> @Model.Category.Name</a> </p>
                            </div>
                        </div>
                        <div class="right-align font-y">
                            <h6>ویژگی های محصول</h6>
                            <ul class="pdetail right-align">
                                @await Component.InvokeAsync("Property", new { propductid = Model.ProductID,CategoryId=Model.CategoryID,isshort=true })
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="box right-align">
                            <div class="padding-top-5">
                                <p><span class="fa fa-paperclip product-garantee orange-o"></span>فروشنده : سایت جور کده</p>
                                @{
                                    var a = 0;
                                    int c = 1;
                                    foreach (var l in Model.Comments)
                                    {
                                        a += l.Vote;
                                    }
                                    if (Model.Comments.Count > 0)
                                    {
                                        c = Model.Comments.Count;
                                    }
                                    decimal b = a / c;
                                }
                                <p class="pvote">امتیاز :  @b از 5</p>

                            </div>
                            <hr />
                            <div>
                                <p><span class="fa fa-certificate product-garantee orange-o"></span>گارانتی @Model.Guarantee</p>
                            </div>
                            <hr />
                            <div>
                                <p><span class="fa fa-paper-plane product-garantee orange-o"></span>ارسال ۲۴ ساعته</p>
                            </div>
                            <hr />
                            <div class="left-align orange-o left-padding">
                                <form asp-action="AddToCart" asp-controller="Cart" asp-route-ProductID="@Model.ProductID" >
                                    <div class="form-group">

                                        <span class="choose right-align">سایز مورد نظر را انتخاب کنید</span>

                                        <div class="dropdown">
                                            <div class="select">
                                                <span>سایز</span>
                                                <i class="fa fa-chevron-left"></i>
                                            </div>
                                            <input type="hidden" id="price" name="price">
                                            <input type="hidden" id="priceid" name="priceid">
                                            
                                            <ul class="dropdown-menu">
                                                @foreach (var catt in ViewBag.categoryprice)
                                                {
                                                    @foreach (var rr in Model.Prices.Where(r => r.CategoryPriceID == catt.CategoryPriceID))
                                                    {
                                                        <li  priceid="@rr.PriceID" value="@rr.Value">@catt.Value</li>
                                                    }

                                                }

                                            </ul>

                                        </div>

                                        <h2 class="font-y">

                                            <span class="msg">  </span>
                                        </h2>

                                    </div>

                                  



                                    <button class="c-product__seller-row btn-add-to-cart" title="افزودن به سبد خرید" id="add-basket-button" type="submit">
                                        <span class="fa fa-shopping-cart"></span> افزودن به سبد خرید
                                    </button>

                                </form>
                                @*@if (Model.newvalue > 0)
            {<del class="font-y del">@Model.Price.ToString("#,###")</del>

            <h2 class="font-y">

                @Model.newvalue.ToString("#,###") <span>ریال</span>
            </h2>}
        else if (Model.Price > 0)
        {
            <h2 class="font-y">

                @Model.Price.ToString("#,###") <span>ریال</span>
            </h2>
        }
        else if (Model.Prices.Count > 0)
        {*@
                              

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box desc">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#home"><span class="fa fa-book"></span>نقد و بررسی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu1"><span class="fa fa-building-o"></span>مشخصات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu2"><span class="fa fa-eye"></span>نظرات کاربران</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content right-align">
                <div id="home" class="tab-pane active">
                    <br>
                    <h3>نقد و بررسی اجمالی</h3>
                    <p>@Model.Name</p>
                    <div class="c-content-expert__summary row">
                        <div class="col-md-2"><img class="c-content-expert__summary-ico" /> </div>
               
                        <div class="col-md-10">@Model.Description</div>  
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <br>
                    <h3>مشخصات فنی :</h3>
                    <p>@Model.Name</p>

                    <hr />
                    <ul class="pbase">
                        @await Component.InvokeAsync("Property", new { propductid = Model.ProductID,CategoryId=Model.CategoryID,isshort=false })
                    </ul>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <br>
                    <h3>نظرات کاربران به:</h3>
                    <p>@Model.Name</p>
                    <div class="c-comments__summary-note">
                        <div>شما هم می‌توانید در مورد این کالا نظر بدهید.</div>
                        <div class="add-comment">
                            <form asp-action="AddComment" asp-controller="Home" asp-route-ProductID="@Model.ProductID">
                                <div class="form-group">

                                    <label>نام :</label>

                                    <input name="Name" class="form-control" />
                                    <label>نام خانوادگی :</label>

                                    <input name="Lastname" class="form-control" />
                                    <label>شماره تماس :</label>

                                    <input name="Phone" class="form-control" />

                                    <label>نظر :</label>

                                    <textarea name="Text" class="form-control"></textarea>
                                    <input id="vote" type="hidden" name="Vote" />
                                    <fieldset class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title=" 2 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                    </fieldset>
                                </div>


                                <button class="btn-add-comment" title="افزودن نظر جدید" id="add-comment-button" type="submit">
                                    <span class="btn-add-comment__txt">افزودن نظر جدید</span>
                                </button>

                            </form>

                        </div>


                    </div>
                    <hr />

                    <div>
                        @foreach (var l in @Model.Comments)
                        {
                            <div class="c-faq__list row">
                                
                                    <div class="col-md-2 header">
                                        <p class="h5">

                                            <span>@l.Name&zwnj;@l.Lastname</span>
                                        </p>
                                    </div>
                                
                                
                                    <div class="section is-question col-md-6">






                                        <div class="footer">
                                            <em>@l.Date</em>
                                            @for (int o = 0; o < l.Vote; o++)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            @for(int y=0;y<5-l.Vote;y++)
                                            {
                                        <span class="fa fa-star"></span>
                                            }
                                           
                                            
                                        </div>
                                        <p>@l.Text</p>
                                    </div>
                                        
                                    </div>
                             

                            
                        }
                    </div>
                </div>

            </div>
        </div>

        <script>

            $('input:radio').change(
                function () {
                    var userRating = this.value;
                    $('#vote').val(userRating);
                });


            /*Dropdown Menu*/
$('.dropdown').click(function () {
    $(this).attr('tabindex', 1).focus();
    $(this).toggleClass('active');
    $(this).find('.dropdown-menu').slideToggle(300);
});
$('.dropdown').focusout(function () {
    $(this).removeClass('active');
    $(this).find('.dropdown-menu').slideUp(300);
});
$('.dropdown .dropdown-menu li').click(function () {
    $(this).parents('.dropdown').find('span').text($(this).text());
    $(this).parents('.dropdown').find('#price').attr('value', $(this).attr('value'));
     $(this).parents('.dropdown').find('#priceid').attr('value', $(this).attr('priceid'));
});
/*End Dropdown Menu*/


$('.dropdown-menu li').click(function () {
    var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
        msg = '<span class="msg"> ';
    $('.msg').html(msg + input + '<span>ریال</span></span>');

    
});
        </script>

        <script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>

    </div>

